.latest-blog{
  margin-top: 100px;
  padding: 50px 0px;
  font-family: $Railway;
  background-color: #FDFEFF;
  .title{
    margin-left:5px;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  .block{
    width:390px;
    height:290px;   
    box-shadow: 1px 2px 13px -1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 1px 2px 13px -1px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 2px 13px -1px rgba(0,0,0,0.05);
  }
  .texture{
    text-align: left;
    margin-top:50px;
    .text-title{
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      color: #232323;
    }
    .desc{
      font-size: 17px;
      line-height: 27px;
      color: #232323;
      font-weight: 300;
    }
  }
}