.our-team{
  background-color: #F7F7F7;
  margin-top:100px;
  padding:50px 0px;
  font-family: $Railway;
  .title{
    font-size: 40px;
    font-weight: 300;
    margin-bottom:50px;
  }
  .purple-box{
    width:350px;
    height:350px;
    background-color: #572FD7;
    border-radius: 10px;
    position: relative;
    img{
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
    }
  }
  .texture{
    margin-top:30px;
    width:350px;
    font-family: $poppins;
    font-weight: 700;
    .title{
      font-size: 18px;
      margin-bottom:5px;
    }
    .pos{
      font-size: 14px;
      color:#572FD7;
    }
  }
}